.developer_page {
    width: 100vw;
    height: 150vh;
}
.developer {
    /* background-color: aliceblue; */
    width: 700px;
    height: 700px;
    position: absolute;
    left: 30vw;
    top: 400vh;
}
.devel_title {
    text-align: center;
}
.devel_pic {
    text-align: center;
    /* width: 500px; */
    height: 400px;
    background-color: antiquewhite;
    margin-left: 40px;
    margin-bottom: 50px;
}
.icon {
    width: 50px;
}