.developer_page {
    width: 100vw;
    height: 200vh;
}
.developer {
  
    width: 700px;
    height: 700px;
    position: absolute;
    left: 30vw;
    top: 400vh;
}
.devel_title {
    text-align: center;
    color: #14616B;
}
.devel_pic {
    text-align: center;
    height: 400px;
    margin-left: 40px;
    margin-bottom: 50px;
}
.text_head {
    color: #14616B;
    font-size: 25px;
    font-weight: 500;
}
.devel_intro {
    font-size: 20px;
}
.plan {
    font-size: 20px;
} 
.icon img {
    float: right;
    width: 50px;
    height: 50px;
    padding-right: 1rem;
}