.button {
    display: none;
}
.down_move {
    opacity: 0;
    transition: all .5s ease;
}
.show_d {
    opacity: 1;
}
@media only screen and (max-width: 900px) {
    .button {
        position: fixed;
        /* bottom: 2%; */
        /* right: 3%; */
        bottom: 0;
        left: 0;
        right: 0;

        /* border-radius: 50%; */
        padding: 1rem;
        background-color: #142A77;
        /* background-color: antiquewhite; */
        color: white;
        font-size: 20px;
        font-weight: bolder;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .down img {
        display: inline-block;
        width: 30px;
        height: 30px;
    }
}