footer {
  color: white;
  background-color: #14616b;
  padding: 50px 50px;
  margin-top: 100px;
}

footer .icon img {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding-right: 1rem;
}
footer .email img {
  width: 45px;
  height: 45px;
}

.foot .title {
  font-size: 2rem;
  width: 10em;
}

footer .f_detail {
  font-family: "SBAggroL";
  margin-left: 10px;
  margin-top: 15px;
  font-size: 20px;
  color: white;
}

@media only screen and (max-width: 900px) {
  footer {
    padding: 70px 20px;
  }
  .foot .title {
    font-size: 20px;
  }
  footer .icons {
    display: flex;
    justify-content: flex-end;
  }
  footer .f_detail {
    font-size: 15px;
  }
  footer .icon img {
    margin-top: 1rem;
    width: 30px;
    height: 30px;
  }
  footer .kakao_white {
    display: none;
  }
}
