.end_cover img {
  width: 100%;
}
.endding_ment_icon img {
  width: 600px;
}
.end_ment {
  display: flex;
  justify-content: center;
}
.end_icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


@media only screen and (max-width: 900px) {
  .endding_ment_icon img {
    display: none;
  }
  .end_icons {
    display: none;
  }
}
