/* .func_page {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
} */
.background_grey {
  background-color: #FAFAFA;
}
.func_1, .func_3 {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.func_5 {
  padding: 2rem;
  max-width: 1400px;
  margin: auto;
}
.func {
  display: flex;
}

.func > div {
  flex-grow: 1;
}
.func_desc2 {
  display: flex;
  justify-content: center;
}
.func_pic {
  height: 750px;
}
.func_2,
.func_4 {
  flex-direction: row-reverse;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  /* background-color: rebeccapurple; */
}
.func_num {
  font-size: 50px;
  font-weight: 300;
}
.func_title {
  font-family: "SBAggroL";
  font-weight: 700;
  font-size: 50px;
}
.func_desc {
  padding: 3em;
}
.func_detail {
  font-size: 30px;
  margin-top: 1em;
  line-height: 1.5em;
}
.de_head {
  font-weight: 600;
}
.de_tail {
  font-weight: 300;
}
.intro_mobile {
  display: none;
}

@media only screen and (max-width: 900px) {
  .func_page {
    /* padding: 1em; */
  }
  .func {
    display: none;
  }
  .intro_mobile {
    display: flex;
    justify-content: center;
  }
  .intro_m1{
    margin-top: 50px;
    margin-left: -75px;
    height: 450px;
  }
  .intro_m2, .intro_m3, .intro_m5 {
    height: 350px;
  }
  .intro_m4 {
    margin-top: 50px;
    height: 400px;
  }
  .intro_m5 {
    margin-left: -50px;
  }
}
