.func_page {
    display: block;
    width: 100vw;
    height: 150vh;
}
.func {
    width: 800px;
    height: 500px;
    position: absolute;
    left: 30vw;
}

.func_1 {
    display: block;
    margin-top: 60px;
}
.func_num {
    color: #14616B;
    margin-left: 10px;
    font-size: 50px;
    font-weight: 300;
}
.func_title {
    color: #14616B;
    font-weight: 700;
    font-size: 30px;
}
.func_pic {
    height: 500px;
    position: absolute;
    left: 27vw;
    top: 0vh;
}
.func_detail {
    color: #43464b;
    margin-top: 10px;
    width: 26vw;
    font-size: 20px;
}

.func_2 {
    margin-top: 600px;
}
.func_2 .func_num {
    margin-left: 300px;
}
.func_2 .func_title {
    margin-left: 300px;
}
.func_2 .func_pic {
    position: absolute;
    left: 0vw;   
}
.func_2 .func_detail {
    margin-left: 300px;
    width: 25vw;
}

.func_3 {
    display: block;
    margin-top: 1150px;
}