/* .func_page {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
} */
.background_grey {
  background-color: #FAFAFA;
}
.func_1, .func_3 {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.func_5 {
  padding: 2rem;
  max-width: 1400px;
  margin: auto;
}
.func {
  display: flex;
}

.func > div {
  flex-grow: 1;
}
.func_desc2 {
  display: flex;
  justify-content: center;
}
.func_pic {
  height: 750px;
}
.func_2,
.func_4 {
  flex-direction: row-reverse;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  /* background-color: rebeccapurple; */
}
.func_num {
  font-size: 50px;
  font-weight: 300;
}
.func_title {
  font-family: "SBAggroL";
  font-weight: 700;
  font-size: 50px;
}
.func_desc {
  padding: 3em;
}
.func_detail {
  font-size: 30px;
  margin-top: 1em;
  line-height: 1.5em;
}
.de_head {
  font-weight: 600;
}
.de_tail {
  font-weight: 300;
}

@media only screen and (max-width: 900px) {
  .func_page {
    padding: 1em;
  }
  .func {
    margin: auto;
  }
  .func_desc {
    margin: 1vw;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0.5em;
  }
  .func_num {
    font-size: 25px;
  }
  .func_title {
    font-size: 20px;
  }
  .func_detail {
    font-size: 13px;
    width: 50vw;
  }
  .func_pic {
    height: 300px;
  }
}
