.intro_page {
  padding-bottom: 10em;
  height: 50vh;
}
.missing_pic {
  margin-top: 50px;
  margin-left: 200px;
  width: 500px;
}
.intro_pic2 {
  display: flex;
  justify-content: flex-end;
}
.text_pic {
  margin-top: 100px;
  margin-right: 200px;
  width: 500px;
}

@media only screen and (max-width: 900px) {
 
}
