.intro_page {
    padding: 2em;
    padding-top: 5em;
    padding-bottom: 10em;
}
.intro_area {
    max-width: 800px;
    margin: auto;
}
.ment {
    margin-top: 1em;
    color: #43464b;
    font-family: 'SBAggroL';
    font-weight: 700;
    font-size: 30px;
}
.ment1 {
    margin: 40px;
    margin-left: 5em;
    float: left;

    padding: 1rem;
    text-align: center;
    border-radius: 15px;
    background-color: #fae3a8;
}
.ment2 {
    clear: both;
    float: right;
    margin: 40px;

    padding: 1rem;
    text-align: center;
    border-radius: 15px;
    background-color: #fae3a8;
}
.ment3 {
    clear: both;
    float: left;
    margin: 40px;
    margin-bottom: 100px;

    padding: 1rem;
    text-align: center;
    border-radius: 15px;
    background-color: #fae3a8;
}
.ment4 {
    clear: both;
    color: black;
    /* padding: 3em; */
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    display: flex;
    justify-content: center;
}
.ment_main {
    padding: 1em;
    background-color: #14616B;
    color: white;
    /* border: 3px solid black; */
    border-radius: 100px;
}
/* .ment_hut {
    color: #ffd66d;
    font-weight: bolder;
} */

/* .move {
    opacity: 0;
    transition: all .5s ease;
}
.move-up {
    transform: translate(0, 100px);
} */

@media only screen and (max-width: 900px) {
    .intro_pic {
        margin: auto;
    }
    .ment {
        font-size: 12px;
    }
    .ment1 {
        text-align: center;
        padding-left: 1em;
        margin: 20px;
    }
    .ment2 {
        text-align: center;
        margin: 20px;
        padding-left: 1em;
    }
    .ment3 {
        text-align: center;
        margin: 20px;
        padding-left: 1em;
    }
    .ment4 {
        line-height: 20px;
        margin: 20px;
        font-size: 15px;
    }
}