.intro_page {
    /* background-color: yellow; */
    width: 100vw;
    height: 100vh;
}
.pic {
    width: 600px;
    height: 600px;
    background-color: #0D988C;
    position: absolute;
    top: 100vh;
    left: 33vw;
}
.intro_text {
    /* background-color: antiquewhite; */
    display: block;
    width: 500px;
    display: inline-block;
    position: absolute;
    top: 165vh;
    left: 30vw;
    margin-left: 10px;
    /* color: gray; */
}
.intro_title {
    color: #14616B;
    font-weight: 50px;
}