body {
    margin: 0;
}
.main_green {
    width: 100vw;
    height: 65vh;
    background-color: #14616B;
    /* background-color: #0D988C; */
    text-align: center;
}
.main_white {
    width: 100vw;
    height: 35vh;
    /* background-color: #fef9e9; */
    /* background-color: #fdefcc; */
}
.green_text {
    display: inline-block;
    /* background-color: #0D988C; */
    color: white;
    width: 700px;
    text-align: left;
    position: absolute;
    top: 350px;
    left: 30vw;
}
.white_text {
    display: inline-block;
    position: absolute;
    left: 30vw;
}
.main_pic {
    height: 700px;
    position: absolute;
    top: 100px;
    left: 50vw;
}
.title {
    margin-left: 10px;
    font-size: 70px;
    font-weight: 700;
}
.sub_title {
    margin-left: 10px;
}
.detail {
    margin-left: 5px;
}

