@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SBAggroL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'SBAggroL';
    margin: 0;
    overflow-x: hidden;
}

/* .circle {
    position: absolute;
    margin-top: -300px;
    margin-left: -300px;
    width: 500px;
    height: 500px;
    border-radius: 1375px;
    background-color: #14616B;
    background-color: #0D988C;
}
.empty_circle {
    position: relative;
    margin-top: 500px;
    margin-left: 1400px;
    width: 500px;
    height: 500px;
    border: 5px solid #0D988C;
    border-radius: 300px;
} */

.main_green {
    overflow: hidden;
    width: 100vw;
    height: 65vh;
    background-color: #14616B;
    /* background-color: #0D988C; */
}
.main_white {
    width: 100vw;
    height: 35vh;
}
.green_area {
    display: flex;
    color: white;
    text-align: left;
    position: absolute;
    float: left;
    left: 0;
    width: 45vw;
    height: 65vh;
    justify-content: flex-end;
    align-items: flex-end;
}
.green_text {
    margin-bottom: 10px;
}
.white_area {
    display: flex;
    position: absolute;
    float: left;
    left: 0;
    width: 45vw;
    justify-content: flex-end;
}
.Pic_main {
    float: right;
    width: 50vw;
}
.main_pic {
    height: 700px;
    position: absolute;
    top: 100px;
    left: 50vw;
}
.title {
    font-family: 'SBAggroB';
    margin-left: 10px;
    font-size: 70px;
    font-weight: 700;
}
.sub_title {
    margin-left: 10px;
    font-size: 30px;
}
.detail {
    margin-left: 10px;
}

@media only screen and (max-width: 900px) {
    .main_green {
        height: 60vh;
    }
    .green_area { 
        height: 60vh;
    }
    .main_pic {
        height: 300px;
        position: absolute;
        top: 300px;
        left: 55vw;
    }
    .title {
        font-size: 30px;
    }
    .sub_title {
        font-size: 18px;
    }
    .detail {
        font-size: 10px;
    }
}
